<app-nav-bar [component]="'friendRequests'"></app-nav-bar>
<!-- end of navigation -->

<!-- showing friends requests received -->

<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <!-- if there is no friend request received then display this -->
            <div *ngIf="myFriendRequests==0||myFriendRequests==null">
                <p class="text-justify text-danger">
                    Currently there is no friend requests for you
                </p>
            </div>
            <!-- end of div if no friend request is present -->

            <!-- if there is friend request available then display this -->
            <div *ngIf="myFriendRequests>0">
                <h5 class="text-info"> You have a friend request</h5><br>
                <div *ngFor="let request of myFriendRequests">
                    <ul class="list-group">
                        <div class="list-group-item row d-flex justify-content-between">
                            <p class="text-success">{{request.friendName}}</p>
                            <!-- if status of current request is notaccepted ,display this button -->
                            <button *ngIf="request.status=='notaccepted'" class="btn btn-primary rounded"
                             (click)="acceptFriendRequest(request)">Accept</button>

                            <!-- if status is accepted,display this -->
                            <button *ngIf="request.status=='accepted'" class="btn btn-secondary rounded">Accepted</button>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>