<div class="container-fluid">
    <div class="row bg-secondary" style="height: 10vh">

    </div>
    <div class="row align-items-center" style="height: 58vh">
        <div class="col-sm text-center">
            <h1 class='code404'>404</h1>
            <p class="text-muted">The page you are looking for doesn't exist...</p>
            <a type="button"><small class="text-info" style="text-decoration: underline" [routerLink]="['/']">redirect to signin</small></a>
        </div>
    </div>
</div>
