<nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
    <a class="navbar-brand font-weight-bold" href="#">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" [routerLink]="['/']">SignIn <span class="sr-only">(current)
                </span></a>
        </div>
    </div>
</nav>


<div class="text-center mt-2">
    <h3 class="text-danger">Forgot Password?</h3>
    <p class="font-weight-light">Send your email and we will provide you a new password via email</p>
</div>

<div class="container mt-md-3">
    <div class="row justify-content-center">

        <div class="col-md-5">
            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email"
                (keydown)="keyPressEvent($event)" autofocus>
            </div>
        </div>

    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-info" (click)="resetPassword()">Send</button>
    </div>

</div>
