<app-nav-bar [component]="'allUsers'"></app-nav-bar>
<!-- end of navigation -->

<!-- displaying all users -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <div *ngIf="allUsers">
                <ul class="list-group">
                    <div *ngFor="let user of allUsers" class="list-group-item row d-flex justify-content-between">
                        <div>{{user.firstName}} {{user.lastName}}</div>

                        <div *ngIf ="user.status=='friends'">
                            <a class="text-secondary">Friends</a>
                        </div>
                        <div *ngIf="user.status =='requested'">
                            <button class="btn btn-secondary text-white rounded" disabled>Requested</button>
                        </div>
                        <div *ngIf="user.status=='not requested'">
                                <button *ngIf="user.status=='not requested'" class="btn btn-primary rounded" 
                                (click)="sendFriendRequest(user)">Add
                            </button>
                        </div>

                        <!-- if friend is there for current user -->
                       

                        <!-- if i have no friends currently than add (add) button on all list -->
                        <!-- <div *ngIf="myFriends!=0">
                            <button class="btn btn-primary rounded" (click)="sendFriendRequest(user)">Add</button>
                        </div> -->

                    </div>
                </ul>
            </div>

            <div *ngIf="allUsers==0 || allUsers==null">
                <p class="text-danger">There is currently no users to add friend...</p>
            </div>
        </div>
    </div>
</div>