<nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
    <a class="navbar-brand font-weight-bold">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/user']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[userDetails.userId,'friends']">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['allusers']">AllUsers</a>
            </li>
        </ul>
    </div>
</nav>
<!-- end of navigation -->

<div class="container-fluid mt-1">
    <div class="row">

        <!-- first col start -->
        <div class="col-md-4">
            <!-- button for adding new list -->
            <button type="button" class="btn btn-info btn-circle" title="add new list" data-toggle="collapse"
                data-target="#inputNewList" aria-expanded="false" aria-controls="inputNewList">
                <i class="fas fa-plus"></i></button>
            <p class="mt-2 text-justify text-success " id="todolistHint">Your list of ToDo's</p>

            <ul class="list-unstyled" id="todoScroller">

                <!-- input for adding new list  -->
                <div class="row collapse no-gutters" id="inputNewList">
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="new List" [(ngModel)]="newListTitle"
                            name="newListTitle">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-info ml-1" (click)="addNewList()">Add</button>
                    </div>
                </div>
                <!-- end of adding new list -->

                <!-- showing all list of todo's -->
                <ul class="list-group">
                    <a *ngFor="let list of allList" (click)="getSingleList(list.listId)" class="list-group-item"
                        type="button">{{list.listTitle}}</a>
                </ul>
                <!-- <li *ngFor='let list of allList' class="text-secondary text-justify mt-1">
                    <a type="button" (click)="getSingleList(list.listId)">{{list.listTitle}}</a>
                </li> -->
            </ul>

        </div><!-- end of first column -->

        <!-- start of second column showing list details -->
        <div class="col">
            <!-- if no list is selected from todo's list than this div will be displayed -->
            <div *ngIf="!selectedList" class="ml-md-4">
                <h4 class="text-justify text-success headerEmptyList">Your list details will be shown here</h4>
                <p class="text-secondary text-justify mt-md-4" id="paraEmptyList">No list is selected...<br>click on any
                    one list to get the details of the list...</p>
            </div>
            <!-- end of div with no list selected -->

            <!-- this div will be shown when any list is selected -->
            <div *ngIf="selectedList">
                <div class="container border rounded">

                    <div class="row justify-content-center">
                        <!-- display list title -->
                        <h4 class="listDetailsView text-success text-monospace font-weight-bold">
                            {{selectedList.listTitle | uppercase}}
                        </h4>
                        <!-- end of displaying list title -->
                    </div>

                    <div class="row justify-content-between p-1">
                        <!-- button to add new item to a list -->
                        <button class="rounded btn-info" data-toggle="collapse" data-target="#createNewItem">
                            Add item
                        </button>

                        <!-- button to edit a title of the list -->
                        <button class="rounded btn-secondary" data-toggle="collapse" data-target="#editListTitle">
                            Edit
                        </button>

                        <!-- button to delete a list -->
                        <button class="rounded btn-danger" data-toggle="modal" data-target="#deleteList">
                            Delete
                        </button>
                    </div>

                    <!-- collapse div for creating new item -->
                    <div class="row collapse" id="createNewItem">
                        <div class="d-flex">
                            <input type="text" class="form-control" [(ngModel)]="newItemTitle" name="newItemTitle"
                                placeholder="add new item">
                            <button class="btn-info rounded" (click)="addNewItem()">Add</button>
                        </div>
                    </div>

                    <!-- collapse div for editing list title -->
                    <div class="row collapse justify-content-center" id="editListTitle">
                        <div class="d-flex">
                            <input type="text" class="form-control" [(ngModel)]="newEditListTitle"
                                name="newEditListTitle" placeholder="edit Title">
                            <button class="btn-secondary rounded" (click)="editListTitle()">Edit</button>
                        </div>
                    </div>

                    <!-- div of modal for deleting list -->
                    <div class="modal" id="deleteList" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <!-- modal header -->
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title">List delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <!-- end of modal header -->
                                </div>
                                <!-- start of modal body -->
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this list?</p>
                                </div>
                                <!-- end of modal body -->

                                <!-- start of modal footer -->
                                <div class="modal-footer">
                                    <!-- button to dismiss modal -->
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!-- button to delete list -->
                                    <button type="button" class="btn btn-danger" (click)="deleteList()"
                                        data-dismiss="modal">Yes,delete it</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of deleting list -->
                </div>
                <!--End of first container showing list title and add/delte/edit buttons-->

                <!-- container for showing items of list if present-->
                <div class="container mt-1 rounded pt-1 pb-1" *ngIf="selectedList.items.length>0" id="listDetails">
                    <!-- making card for each item in a list -->
                    <div class="card mt-1" *ngFor="let item of selectedList.items">
                        <div class="card-body">
                            <h5 class="card-title text-info">{{item.itemTitle}}
                                <!-- on clicking vertical ellipse,it will initialize selectedItemOfList on component -->
                                <span id="vertical-ellipsis" class="btn" (click)="verticalEllipseClick(item)"
                                    data-toggle="collapse" data-target="#item-footer">&#8942;</span>
                            </h5>

                            <!-- section for subitems -->
                        </div>
                        <!-- card footer for buttons related to item,
                        Card footer will only show if user click on verticalellipse,thus initializing selectedItemOfList -->
                        <div *ngIf="selectedItemOfList" class="collapse" id="item-footer">
                            <div *ngIf="item.itemId==selectedItemOfList.itemId" class="card-footer">

                                <!-- buttons for items -->
                                <div class="row justify-content-around">
                                    <!-- button to add new subitems to a list -->
                                    <button class="rounded btn-info">
                                        Add SubItem
                                    </button>

                                    <!-- button to edit a title of the list -->
                                    <button class="rounded btn-secondary" data-toggle="modal" data-target="#editItem">
                                        Edit
                                    </button>

                                    <!-- button to delete a list -->
                                    <button class="rounded btn-danger" data-toggle="modal" data-target="#deleteItem">
                                        Delete
                                    </button>
                                </div>
                                <!-- end of buttons for items -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modals related to item -->

<!-- modal to delete item -->
<div class="modal" id="deleteItem" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header bg-info">
                <h5 class="modal-title">Item delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- end of modal header -->
            </div>
            <!-- start of modal body -->
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
            </div>
            <!-- end of modal body -->

            <!-- start of modal footer -->
            <div class="modal-footer">
                <!-- button to dismiss modal -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- button to delete list -->
                <button type="button" class="btn btn-danger" (click)="deleteItem()" data-dismiss="modal">Yes,delete
                    it</button>
            </div>
        </div>
    </div>
</div>

<!-- modal for editing item -->
<div class="modal" id="editItem" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header bg-info">
                <h5 class="modal-title">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- end of modal header -->
            </div>
            <!-- start of modal body -->
            <div class="modal-body">
                <input type="text" class="form-control" [(ngModel)]="itemEditTitle" name="itemEditTitle" placeholder="edit Item">
            </div>
            <!-- end of modal body -->

            <!-- start of modal footer -->
            <div class="modal-footer">
                <!-- button to dismiss modal -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- button to delete list -->
                <button type="button" class="btn btn-danger" (click)="editItem()" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>
<!-- end of modal to delete item -->