:root
{
    font-size: 16px
}

#todoScroller
{
    height: 75vh;
    overflow-y: scroll
}

.headerEmptyList
{
    font-size: 1.5rem
}

#paraEmptyList
{
    font-size: 1.1rem
}

#todolistHint
{
    font-size: 1.5rem;
    font-weight: bold
}

.listDetailsView
{
    font-size: 1.1rem
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
  }

.addFont{
    color:teal;
    background: red
}

#listDetails
{
    background-color: azure
}

@media only screen and (max-width:575px) {
    /* for mobile screen */
    #todoScroller
    {
        height:40vh
    }

    .headerEmptyList
    {
        font-size: 1.1rem
    }

    #todolistHint
    {
        font-size: 1.1rem
    }

    #paraEmptyList
    {
        font-size: 1rem
    }


  }